*.h5
*.xdmf
*.html
__pycache__/
*.png
**/_petsc_**
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.nav
*.snm
*.toc
*.lot
*.lof
*.bbl
*.blg
*.bcf
*.run.xml
**/_minted**
*.so
**/build
**/code_dir
_*.*
*.tdo
assembling_strategies/mesh
*.vrb